# Simulation folders ignored GitHub

# fastSimcoal2 tests examiing impacts of mutation rates on number of DNA loci
draft_fscParams_lowMutation
draft_fscParams_highMutation

# fastSimcoal2 tests attempting to correct the number of DNA loci simulated
# (ultimately fixed by running simulations through strataG, rather than fastSimcoal2 termnial)
TEST_ChrStr1_fscParams
TEST_ChrStr2x2_fscParams
TEST_ChrStr4_fscParams
TEST_ChrStr4_SNPflag_fscParams

# Outdated directories containing fastSimcoal2 outputs
draft_fscParams
fscParams

# Simulated outputs of demo_dnaMarkerIssue folder
SimulationOutputs/demo_dnaMarkerIssue/demo_dnaMarkerIssue.log
SimulationOutputs/demo_dnaMarkerIssue/demo_dnaMarkerIssue.par
SimulationOutputs/demo_dnaMarkerIssue/demo_dnaMarkerIssue/
SimulationOutputs/demo_dnaMarkerIssue/seed.txt

# Folder of strataG params and genind objects, which will be updated everytime the GenerateFSCparams.R script is run
SimulationOutputs/MSAT_marker/data.MSAT
SimulationOutputs/DNA_marker/data.DNA

# Old R scripts
samplingOutputs.R
